.component-container{
    background-color: var(--portfolio-color-secondary);
    text-align: center;
    color: var(--bs-white);
    border-top: 1px solid var(--bs-gray-800);
    padding: 1.5rem 0;
    font-size: 12px;
}