body {
  margin: 0;
}

hr {
  margin: 1rem 0;
}

address {
  margin-bottom: 1rem;
}

.rtl ol, .rtl ul{
  padding-right: 2rem;
}

.ltr ol, .ltr ul{
  padding-left: 2rem;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dd {
  margin-bottom: 0.5rem;
}

.rtl dd{
  margin-right: 0;
}

.ltr dd{
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

mark {
  padding: 0.1875em;
}

kbd {
  padding: 0.1875rem 0.375rem;
}

kbd kbd {
  padding: 0;
}

caption {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

figure {
  margin: 0 0 1rem;
}

input,
select,
optgroup,
textarea {
  margin: 0;
}

fieldset {
  padding: 0;
  margin: 0;
}

legend {
  padding: 0;
  margin-bottom: 0.5rem;
}

::-moz-focus-inner {
  padding: 0;
}

::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-minute,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-year-field {
  padding: 0;
}

::-webkit-color-swatch-wrapper {
  padding: 0;
}