<article class="component-container">
   <section class="information">
        <div class="header">
            <h1 i18n>Shayan Ghazali</h1>
            <h3 i18n>Front-end Developer</h3>
        </div>
        <div class="contact">
            <h3 class="title" i18n>CONTACT</h3>
            <div>
                <ul>
                    <li>
                        <a href="https://goo.gl/maps/9WdFEG3gKYnrcmFq7" target="_blank" i18n>
                             <i class="dashicons dashicons-location"></i>Isfahan, Iran
                        </a>
                    </li>
                    <li>
                        <a href="tel:+989353728642">
                            <i class="dashicons dashicons-phone"></i>+98 (935) 372 8642
                        </a>
                    </li>
                    <li>
                        <a href="mailto:shayan97.tti@gmail.com">
                            <i class="dashicons dashicons-email"></i>shayan97.tti@gmail.com
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/shayan-ghzl" target="_blank">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="23.408" viewBox="0 0 24 23.408"><path d="M12,0A12,12,0,0,0,8.207,23.387c.6.111.793-.261.793-.577V20.576C5.662,21.3,4.967,19.16,4.967,19.16A3.178,3.178,0,0,0,3.634,17.4c-1.089-.745.083-.729.083-.729a2.519,2.519,0,0,1,1.839,1.237,2.554,2.554,0,0,0,3.492,1,2.546,2.546,0,0,1,.762-1.6C7.145,17,4.343,15.971,4.343,11.374A4.644,4.644,0,0,1,5.579,8.153,4.316,4.316,0,0,1,5.7,4.977S6.7,4.655,9,6.207a11.374,11.374,0,0,1,6.009,0c2.291-1.552,3.3-1.23,3.3-1.23a4.312,4.312,0,0,1,.118,3.176,4.632,4.632,0,0,1,1.235,3.221c0,4.609-2.807,5.624-5.479,5.921A2.868,2.868,0,0,1,15,19.517V22.81c0,.319.192.694.8.576A12,12,0,0,0,12,0Z"/></svg>
                            https://github.com/shayan-ghzl
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="skills">
            <h3 class="title" i18n>SKILLS</h3>
            <div>
                <ul>
                    <li>Javascript(ES6)</li>
                    <li>Typescript</li>
                    <li>Angular</li>
                    <li>Angular Unit Test</li>
                    <li>Ngrx</li>
                    <li>Ionic</li>
                    <li>Gulp Automation</li>
                    <li>Git</li>
                    <li>HTML</li>
                    <li>Css</li>
                    <li>Sass</li>
                    <li>Bootstrap</li>
                    <li>Wordpress</li>
                    <li>Adobe Xd</li>
                    <li>Adobe Photoshop</li>
                    <li>Adobe Illustrator</li>
                </ul>
            </div>
        </div>
        <div class="education">
            <h3 class="title" i18n>EDUCATION</h3>
            <div>
                <ul>
                    <li>
                        <div i18n>
                            Associate in Hardware engineering
                            <span class="academy">Najafabad azad university</span>
                        </div>
                        <span class="date" i18n>Sep 2012 - May 2016</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="language">
            <h3 class="title" i18n>LANGUAGE</h3>
            <div>
                <ul>
                    <li>
                        Persian (Native)
                    </li>
                    <li>
                        English (B2)
                    </li>
                    <li>
                        German (A2)
                    </li>
                </ul>
            </div>  
        </div>
   </section>
   <section class="description">
        <div class="summery">
            <h3 class="title" i18n>SUMMERY</h3>
            <div>
                <p></p>
            </div>
        </div>
        <div class="experience">
            <h3 class="title" i18n>EXPERIENCE</h3>
            <div>
                <ul>
                    <li>
                        <div class="project-header">
                            <div>
                                <div class="project-name">
                                    <h5 i18n>Timche Zargary</h5>
                                    <span>HTML Template</span>
                                </div>
                                <span class="sample-url" i18n>
                                    Project Sample Url:
                                    <a target="_blank" href="https://github.com/shayan-ghzl/timche">https://github.com/shayan-ghzl/timche</a>
                                </span>
                            </div>
                            <div>
                                <div class="date-period" i18n>
                                    September 2020
                                </div>
                                <span class="location" i18n>Isfahan, Iran</span>
                            </div>
                        </div>
                        <div class="about">
                            <p i18n>This is an HTML template for a jewelry online shop.</p>
                        </div>
                        <div class="features">
                            <ul>
                                <li i18n>this is a full responsive website template.</li>
                                <li i18n>it is using swiper.js as a library for touch sliders.</li>
                                <li i18n>it is also using gulp automation to compile scss.</li>
                            </ul>
                        </div>
                        <div class="position">
                            <strong i18n>position:</strong>
                            <p i18n>Front-end developer, HTML template builder in raapco organization</p>
                        </div>
                        <div class="technology">
                            <strong i18n>technology:</strong>
                            <nav>HTML, Css, Sass, Javascript, JQuery, Gulp Automation</nav>
                        </div>
                    </li>
                    <li>
                        <div class="project-header">
                            <div>
                                <div class="project-name">
                                    <h5 i18n>Fanpet</h5>
                                    <span>Wordpress template</span>
                                </div>
                                <span class="sample-url" i18n>
                                    Project Sample Url:
                                    <a target="_blank" href="http://safaeinuts.com/fanpet/">http://safaeinuts.com/fanpet/</a>
                                </span>
                            </div>
                            <div>
                                <div class="date-period">
                                    January 2021
                                </div>
                                <span class="location">Isfahan, Iran</span>
                            </div>
                        </div>
                        <div class="about">
                            <p i18n>This is a WordPress website for a pet supply online shop.</p>
                        </div>
                        <div class="features">
                            <ul>
                                <li i18n>this is a full responsive website template.</li>
                                <li i18n>it is using typescript.</li>
                                <li i18n>it is also using gulp automation to compile scss and typescript.</li>
                            </ul>
                        </div>
                        <div class="position">
                            <strong i18n>position:</strong>
                            <p>Wordpress template developer, UI/UX designer in raapco organization</p>
                        </div>
                        <div class="technology">
                            <strong i18n>technology:</strong>
                            <nav>Wordpress, Woocommerce, HTML, Css, Sass, Javascript, Typescript, JQuery, Gulp Automation</nav>
                        </div>
                    </li>
                    <li>
                        <div class="project-header">
                            <div>
                                <div class="project-name">
                                    <h5 i18n>Safaei Nuts</h5>
                                    <span>Wordpress Project</span>
                                </div>
                                <span class="sample-url" i18n>
                                    Project Url:
                                    <a target="_blank" href="http://safaeinuts.com">http://safaeinuts.com</a>
                                </span>
                            </div>
                            <div>
                                <div class="date-period">
                                    March 2021
                                </div>
                                <span class="location">Isfahan, Iran</span>
                            </div>
                        </div>
                        <div class="about">
                            <p i18n>This is a WordPress website for a grocery online shop.</p>
                            <p i18n>The images in the blog and product images of this website were created by me as a graphic designer.</p>
                        </div>
                        <div class="features">
                            <ul>
                                <li i18n>this is a full responsive website template.</li>
                            </ul>
                        </div>
                        <div class="position">
                            <strong i18n>position:</strong>
                            <p>Wordpress Front-end developer in raapco organization</p>
                        </div>
                        <div class="technology">
                            <strong i18n>technology:</strong>
                            <nav>Wordpress, Woocommerce, HTML, Css, Sass, Javascript, JQuery</nav>
                        </div>
                    </li>
                    <li>
                        <div class="project-header">
                            <div>
                                <div class="project-name">
                                    <h5 i18n>Kharchang Accounting</h5>
                                    <span>Angular Project</span>
                                </div>
                                <span class="sample-url" i18n>
                                    Project Sample Url:
                                    <a routerLink="/resume">Not available</a>
                                </span>
                            </div>
                            <div>
                                <div class="date-period">
                                    April 2021 - May 2023
                                    <span>(2 years and a month)</span>
                                </div>
                                <span class="location">Isfahan, Iran</span>
                            </div>
                        </div>
                        <div class="about">
                            <p>Kharchang is an online accounting and business management system powered by Angular framework and primeng components.</p>
                            <p>We worked on this project for over two years, and sometimes I had to make changes in the primeng components.</p>
                            <p>I also have a few pull requests to primeng repository on the github and during this project I went through various challenges in Angular.</p>
                        </div>
                        <div class="features">
                            <ul>
                                <li>it is using NGRX effects and store as a state manager.</li>
                                <li>authenticate users using sms otp code.</li>
                            </ul>
                        </div>
                        <div class="position">
                            <strong i18n>position:</strong>
                            <p>Angular Developer in raapco organization</p>
                        </div>
                        <div class="technology">
                            <strong i18n>technology:</strong>
                            <nav>Angular, NGRX, Primeng, HTML, Css, Sass, Javascript, Typescript</nav>
                        </div>
                    </li>
                    <li>
                        <div class="project-header">
                            <div>
                                <div class="project-name">
                                    <h5 i18n>3 soot yadak</h5>
                                    <span>Ionic Project</span>
                                </div>
                                <span class="sample-url" i18n>
                                    Project Sample Url:
                                    <a target="_blank" href="https://github.com/shayan-ghzl/yadak-angular-ionic">https://github.com/shayan-ghzl/yadak-angular-ionic</a>
                                </span>
                            </div>
                            <div>
                                <div class="date-period">
                                    July 2021
                                </div>
                                <span class="location">Isfahan, Iran</span>
                            </div>
                        </div>
                        <div class="about">
                            <p>This is an Ionic application and also a startup in the field of automotive services and information.</p>
                        </div>
                        <div class="features">
                            <ul>
                                <li>it is using Ionic framework for creating Hybrid applications.</li>
                            </ul>
                        </div>
                        <div class="position">
                            <strong i18n>position:</strong>
                            <p>Angular Developer in raapco organization</p>
                        </div>
                        <div class="technology">
                            <strong i18n>technology:</strong>
                            <nav>Angular, Ionic, HTML, Css, Sass, Javascript, Typescript</nav>
                        </div>
                    </li>
                    <li>
                        <div class="project-header">
                            <div>
                                <div class="project-name">
                                    <h5 i18n>Telegram Airdrop Bot</h5>
                                    <span>Simple Telegram bot</span>
                                </div>
                                <span class="sample-url" i18n>
                                    Project Sample Url:
                                    <a routerLink="/resume">Not available</a>
                                </span>
                            </div>
                            <div>
                                <div class="date-period">
                                    November 2021
                                </div>
                                <span class="location">Isfahan, Iran</span>
                            </div>
                        </div>
                        <div class="about">
                            <p>this is a simple Javascript Telegram bot for an agency to airdrop tokens.</p>
                            <p>it is all about question and answer in Telegram bot.</p>
                        </div>
                        <div class="features">
                            <ul>
                                <li>it is using Nodejs and Telegraf library.</li>
                            </ul>
                        </div>
                        <div class="position">
                            <strong i18n>position:</strong>
                            <p>As a javascript freelancer</p>
                        </div>
                        <div class="technology">
                            <strong i18n>technology:</strong>
                            <nav>Nodejs, Javascript, Telegraf library</nav>
                        </div>
                    </li>
                    <li>
                        <div class="project-header">
                            <div>
                                <div class="project-name">
                                    <h5 i18n>Letter Manager</h5>
                                    <span>Angular Project</span>
                                </div>
                                <span class="sample-url" i18n>
                                    Project Sample Url:
                                    <a routerLink="/resume">Not available</a>
                                </span>
                            </div>
                            <div>
                                <div class="date-period">
                                    February 2022
                                </div>
                                <span class="location">Isfahan, Iran</span>
                            </div>
                        </div>
                        <div class="about">
                            <p>this is an Angular project for an agency to manage their letters.</p>
                        </div>
                        <div class="features">
                            <ul>
                                <li>it is using Angular Forms and Angular Material.</li>
                            </ul>
                        </div>
                        <div class="position">
                            <strong i18n>position:</strong>
                            <p>As an Angular project freelancer</p>
                        </div>
                        <div class="technology">
                            <strong i18n>technology:</strong>
                            <nav>Angular, Angular Material, HTML, Css, Sass, Javascript, Typescript</nav>
                        </div>
                    </li>
                    <li>
                        <div class="project-header">
                            <div>
                                <div class="project-name">
                                    <h5 i18n>Raap Yadak</h5>
                                    <span>Angular Project</span>
                                </div>
                                <span class="sample-url" i18n>
                                    Project Sample Url:
                                    <a target="_blank" href="https://shayan-ghzl.github.io/raap-angular/">https://shayan-ghzl.github.io/raap-angular/</a>
                                </span>
                            </div>
                            <div>
                                <div class="date-period">
                                    August 2022
                                </div>
                                <span class="location">Isfahan, Iran</span>
                            </div>
                        </div>
                        <div class="about">
                            <p>This is an Angular pwa project as an auto parts online shop.</p>
                        </div>
                        <div class="features">
                            <ul>
                                <li>cache get requests to IndexedDB.</li>
                                <li>authenticate users using sms otp code.</li>
                                <li>it is using NGRX effects and store as a state manager.</li>
                                <li>it is using Angular Cdk and Angular Material.</li>
                            </ul>
                        </div>
                        <div class="position">
                            <strong i18n>position:</strong>
                            <p>Angular Developer in raapco organization</p>
                        </div>
                        <div class="technology">
                            <strong i18n>technology:</strong>
                            <nav>Angular, Angular pwa, Angular Material, NGRX, HTML, Css, Sass, Javascript, Typescript</nav>
                        </div>
                    </li>
                    <li>
                        <div class="project-header">
                            <div>
                                <div class="project-name">
                                    <h5 i18n>Fast Date Typing Package</h5>
                                    <span>Angular Library Project</span>
                                </div>
                                <span class="sample-url" i18n>
                                    Project Url:
                                    <a target="_blank" href="https://www.npmjs.com/package/fast-date-typing">https://www.npmjs.com/package/fast-date-typing</a>
                                </span>
                            </div>
                            <div>
                                <div class="date-period">
                                    November 2022
                                </div>
                                <span class="location">Isfahan, Iran</span>
                            </div>
                        </div>
                        <div class="about">
                            <p>This is a Npm package which made by Angular library.</p>
                            <p>For those businesses (accounting and numerical calculations) who want to enter the date through a fast keyboard.</p>
                            <p>This library is actually written for use in the kharchang accounting project.</p>
                        </div>
                        <div class="features">
                            <ul>
                                <li>well documented Npm package.</li>
                            </ul>
                        </div>
                        <div class="position">
                            <strong i18n>position:</strong>
                            <p>Angular Developer in raapco organization</p>
                        </div>
                        <div class="technology">
                            <strong i18n>technology:</strong>
                            <nav>Angular library, Npm, HTML, Css, Sass, Javascript, Typescript</nav>
                        </div>
                    </li>
                    <li>
                        <div class="project-header">
                            <div>
                                <div class="project-name">
                                    <h5 i18n>Forpet</h5>
                                    <span>Angular Project</span>
                                </div>
                                <span class="sample-url" i18n>
                                    Project Sample Url:
                                    <a target="_blank" href="https://shayan-ghzl.github.io/forpet-angular/">https://shayan-ghzl.github.io/forpet-angular/</a>
                                </span>
                            </div>
                            <div>
                                <div class="date-period">
                                    April 2023
                                </div>
                                <span class="location">Isfahan, Iran</span>
                            </div>
                        </div>
                        <div class="about">
                            <p>This is an Angular pwa project as an pet supply online shop.</p>
                        </div>
                        <div class="features">
                            <ul>
                                <li>cache get requests to IndexedDB.</li>
                                <li>authenticate users using sms otp code.</li>
                                <li>it is using rxjs subjects as a state manager.</li>
                                <li>it is using Angular Material.</li>
                                <li>it is also has a fake api.</li>
                            </ul>
                        </div>
                        <div class="position">
                            <strong i18n>position:</strong>
                            <p>Angular Developer in raapco organization</p>
                        </div>
                        <div class="technology">
                            <strong i18n>technology:</strong>
                            <nav>Angular, rxjs, Angular pwa, Angular Material, NGRX, HTML, Css, Sass, Javascript, Typescript</nav>
                        </div>
                    </li>
                    <li>
                        <div class="project-header">
                            <div>
                                <div class="project-name">
                                    <h5 i18n>Ng Wordpress Menu Package</h5>
                                    <span>Angular Library Project</span>
                                </div>
                                <span class="sample-url" i18n>
                                    Project Url:
                                    <a target="_blank" href="https://www.npmjs.com/package/ng-wordpress-menu">https://www.npmjs.com/package/ng-wordpress-menu</a>
                                </span>
                            </div>
                            <div>
                                <div class="date-period">
                                    May 2023
                                </div>
                                <span class="location">Isfahan, Iran</span>
                            </div>
                        </div>
                        <div class="about">
                            <p>This is a Npm package which made by Angular library.</p>
                            <p>This library is actually written for use in the kharchang accounting project.</p>
                        </div>
                        <div class="features">
                            <ul>
                                <li>well documented Npm package.</li>
                                <li>it supports different color themes.</li>
                                <li>it is scalable side menu.</li>
                            </ul>
                        </div>
                        <div class="position">
                            <strong i18n>position:</strong>
                            <p>Angular Developer in raapco organization</p>
                        </div>
                        <div class="technology">
                            <strong i18n>technology:</strong>
                            <nav>Angular library, Npm, HTML, Css, Sass, Javascript, Typescript</nav>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
   </section>
</article>