<header class="component-container">
    <span>
        <a [routerLink]="['/home']">
            <img i18n-alt i18n-src src="./assets/images/logo-en.png" alt="website logo">
        </a>
    </span>
    <div class="primary-menu-container" [appDropdown]="dropdownCtrl" #dropdown="exportDropdown">
        <ul class="primary-menu-wrapper">
            <li>
                <a i18n routerLink="/resume">
                    my resume
                </a>
            </li>
            <li>
                <a i18n href="javascript:void(0)" (click)="scrollToSection.emit('about-contact')">
                    contact me
                </a>
            </li>
            <li>
                <a i18n i18n-href href="http://127.0.0.1:8080/fa-IR/">persian language</a>
            </li>
        </ul>
    </div>
    <button type="button" class="btn hamburger-btn" [appDropdownCtrl]="dropdown" #dropdownCtrl="exportDropdownCtrl">
        <i class="dashicons dashicons-menu"></i>
    </button>
</header>