<header i18n-dir class="component-container" dir="ltr">
    <span>
        <a [routerLink]="['/home']">
            <img i18n-alt i18n-src src="./assets/images/logo-en.png" alt="website logo">
        </a>
    </span>
    <div class="primary-menu-container" [appDropdown]="dropdownCtrl" #dropdown="exportDropdown">
        <ul class="primary-menu-wrapper">
            <li>
                <a i18n routerLink="/resume">My Resume</a>
            </li>
            <li>
                <a i18n href="javascript:void(0)" (click)="scrollToSection.emit('about-contact')">Contact Me</a>
            </li>
            <li class="change-language">
                <a i18n i18n-href href="https://shayan-ghzl.github.io/resume-portfolio/">فارسی/English Language</a>
            </li>
        </ul>
    </div>
    <button type="button" class="btn hamburger-btn" [appDropdownCtrl]="dropdown" #dropdownCtrl="exportDropdownCtrl">
        <i class="dashicons dashicons-menu"></i>
    </button>
</header>