.component-container{
    padding: 0 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--bs-gray-700);
    background-color: var(--portfolio-color-secondary);
    >span a{
        padding: 18px 0;
        display: block;
    }
    &[dir="ltr"]{
        .hamburger-btn{
            margin: 0 0 0 auto;
        }
    }
    &[dir="rtl"]{
        .hamburger-btn{
            margin: 0 auto 0 0;
        }
    }
}
ul{
    display: flex;
    white-space: nowrap;
    font-weight: 700;
    a{
        position: relative;
        display: block;
        padding: 27px;
        color: var(--portfolio-color-light-shade);
        &::before{
            content: '';
            display: block;
            width: 100%;
            height: 3px;
            background-color: var(--portfolio-color-light);
            position: absolute;
            left: 0;
            bottom: 0;
            transform: scale(0);
            transform-origin: center;
            transition: transform .3s;
        }
        &:hover{
            &::before{
                transform: scale(1);
            }
        }
    }
}
.hamburger-btn{
    display: none;
    color: var(--bs-white);
    padding: 21px 8px;
    border-width: 0;
    .dashicons{
        width: 32px;
        height: 32px;
        font-size: 32px;
    }
    &:active{
        transform: scale(0.98);
    }
}
@media (max-width:992px){
    .component-container{
        padding: 0 4%;
    }  
}

@media (max-width: 680px){


    .component-container{
 
        &[dir="ltr"]{
            .primary-menu-container{
                right: 4%;
            }
        }
        &[dir="rtl"]{
            .primary-menu-container{
                left: 4%;
            }
        }
    }

    .hamburger-btn{
        display: block;
    }
    .primary-menu-container{
        position: absolute;
        top: 76px;
        z-index: 2;
        border: 1px solid var(--bs-gray-700);
        background: var(--bs-gray-900);
        font-size: 13px;
        width: 150px;
        display: none;
        
        &.show{
            display: block;
        }
    }
    ul{
        flex-direction: column;
        li{
            &:not(:last-child){
                border-bottom: 1px solid var(--bs-gray-700);
            }
        }
    }
    ul a:hover::before{
        display: none;
    }
    ul a{
        padding: 14px;
        &:hover{
            background: var(--bs-gray-800);
        } 
    }

}