body {
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    text-align: var(--bs-body-text-align);
    -webkit-text-size-adjust: 100%;
}

h6,
h5,
h4,
h3,
h2,
h1 {
    font-family: var(--forpet-heading-font-family);
    font-weight: var(--forpet-heading-font-weight);
    line-height: var(--forpet-heading-line-height);
    margin-top: 0;
    margin-bottom: 0.5rem;
}

h1 {
    font-size: calc(1.375rem + 1.5vw);
}

@media (min-width: 1200px) {
    h1 {
        font-size: 2.5rem;
    }
}

h2 {
    font-size: calc(1.325rem + 0.9vw);
}

@media (min-width: 1200px) {
    h2 {
        font-size: 2rem;
    }
}

h3 {
    font-size: calc(1.3rem + 0.6vw);
}

@media (min-width: 1200px) {
    h3 {
        font-size: 1.75rem;
    }
}

h4 {
    font-size: calc(1.275rem + 0.3vw);
}

@media (min-width: 1200px) {
    h4 {
        font-size: 1.5rem;
    }
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

pre {
    display: block;
    font-family: var(--bs-font-monospace);
    font-size: 0.875em;
    overflow: auto;
    margin-top: 0;
    margin-bottom: 1rem;
}

input,
select,
optgroup,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

small {
    font-size: 0.875em;
}

legend {
    font-size: calc(1.275rem + 0.3vw);
    line-height: inherit;
}

@media (min-width: 1200px) {
    legend {
        font-size: 1.5rem;
    }
}

caption {
    text-align: right;
}

.ltr caption {
    text-align: left;
}

th {
    text-align: inherit;
    text-align: -webkit-match-parent;
}

dt {
    font-weight: var(--forpet-heading-font-weight);
}

b,
strong {
    font-weight: bolder;
}

address {
    font-style: normal;
    line-height: inherit;
}

sub,
sup {
    font-size: 0.75em;
    line-height: 0;
}

code,
kbd,
samp {
    font-family: var(--bs-font-monospace);
    font-size: 1em;
}

kbd kbd {
    font-size: 1em;
}

pre code {
    font-size: inherit;
}