@font-face {
    font-family: 'PIF';
    font-display: swap;
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/eot/mono.eot') format('eot');
    src: url("../fonts/eot/mono.eot?#iefix") format("embedded-opentype"),
        url('../fonts/woff2/mono.woff2') format('woff2'),
        url('../fonts/woff/mono.woff') format('woff');
}

@font-face {
    font-family: 'Samim';
    font-display: swap;
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/eot/Samim-FD.eot') format('eot');
    src: url("../fonts/eot/Samim-FD.eot?#iefix") format("embedded-opentype"),
        url('../fonts/woff2/Samim-FD.woff2') format('woff2'),
        url('../fonts/woff/Samim-FD.woff') format('woff'),
        url("../fonts/ttf/Samim-FD.ttf") format("truetype");
}

@font-face {
    font-family: 'Samim';
    font-display: swap;
    font-weight: 700;
    font-style: normal;
    src: url('../fonts/eot/Samim-Bold-FD.eot') format('eot');
    src: url("../fonts/eot/Samim-Bold-FD.eot?#iefix") format("embedded-opentype"),
        url('../fonts/woff2/Samim-Bold-FD.woff2') format('woff2'),
        url('../fonts/woff/Samim-Bold-FD.woff') format('woff'),
        url("../fonts/ttf/Samim-Bold-FD.ttf") format("truetype");
}
@font-face {
    font-family: 'Roboto';
    font-display: swap;
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/ttf/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'Roboto';
    font-display: swap;
    font-weight: 700;
    font-style: normal;
    src: url("../fonts/ttf/Roboto-Bold.ttf") format("truetype");
}

