<app-navbar></app-navbar>
<section id="hero">
    <div class="message">
            <h1 i18n>Online business support and personalization.</h1>
            <h4 i18n>With ten years of experience, I lived and breathed the web.</h4>
            <a i18n href="#samples" class="btn btn-primary">
                View portfolio
            </a>
    </div>
</section>
<section id="samples">
        <div class="sample-grid-container">
            <ul class="sample-grid-wrapper">
                <li>
                    <div class="image-container">
                        <img i18n-alt src="./assets/images/portfolio-1.png" alt="portfolio image">
                    </div>
                    <h6 i18n>Forpet</h6>
                </li>
                <li>
                    <div class="image-container">
                        <img i18n-alt src="./assets/images/portfolio-1.png" alt="portfolio image">
                    </div>
                    <h6 i18n>Forpet</h6>
                </li>
                <li>
                    <div class="image-container">
                        <img i18n-alt src="./assets/images/portfolio-1.png" alt="portfolio image">
                    </div>
                    <h6 i18n>Forpet</h6>
                </li>
                <li>
                    <div class="image-container">
                        <img i18n-alt src="./assets/images/portfolio-1.png" alt="portfolio image">
                    </div>
                    <h6 i18n>Forpet</h6>
                </li>
            </ul>
        </div>
</section>
<section id="about-contact">
    <!-- تمام راه های تماس و پروفایل های من
    تصویر من و درباره من -->
</section>
<app-footer></app-footer>