<app-navbar #navbar (scrollToSection)="contact.scrollIntoView()"></app-navbar>
<section id="hero">
    <div i18n-dir class="message" dir="ltr">
            <h1></h1>
            <h4 i18n>With four years of experience, I lived and breathed the web.</h4>
            <button type="button" i18n class="btn btn-primary" (click)="samples.scrollIntoView()">View portfolio</button>
    </div>
</section>
<section id="samples" #samples>
        <div class="sample-grid-container">
            <ul class="sample-grid-wrapper">
                <li>
                    <a href="https://shayan-ghzl.github.io/ng-gorilla/" target="_blank">
                        <div class="image-container">
                            <img i18n-alt src="./assets/images/ng-gorilla.png" alt="portfolio image">
                            <div class="overlay">
                                <h5 i18n>Angular UI component library</h5>
                            </div>
                        </div>
                        <h6 i18n>NG Gorilla</h6>
                    </a>
                </li>
                <li>
                    <a href="https://iranian-vpn.com/" target="_blank">
                        <div class="image-container">
                            <img i18n-alt src="./assets/images/iranian-vpn.png" alt="portfolio image">
                            <div class="overlay">
                                <h5 i18n>Wordpress template</h5>
                            </div>
                        </div>
                        <h6 i18n>iranian vpn</h6>
                    </a>
                </li>
                <li>
                    <a href="https://shayan-ghzl.github.io/forpet-angular/" target="_blank">
                        <div class="image-container">
                            <img i18n-alt src="./assets/images/forpet-portfolio.png" alt="portfolio image">
                            <div class="overlay">
                                <h5 i18n>Angular Project</h5>
                            </div>
                        </div>
                        <h6 i18n>Forpet</h6>
                    </a>
                </li>
                <li>
                    <a href="https://shayan-ghzl.github.io/raap-angular/" target="_blank">
                        <div class="image-container">
                            <img i18n-alt src="./assets/images/raap-portfolio.png" alt="portfolio image">
                            <div class="overlay">
                                <h5 i18n>Angular Project</h5>
                            </div>
                        </div>
                        <h6 i18n>Raap Yadak</h6>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/shayan-ghzl/timche" target="_blank">
                        <div class="image-container">
                            <img i18n-alt src="./assets/images/timche-portfolio.png" alt="portfolio image">
                            <div class="overlay">
                                <h5 i18n>Angular Project</h5>
                            </div>
                        </div>
                        <h6 i18n>HTML Template</h6>
                    </a>
                </li>
                <li>
                    <a href="http://safaeinuts.com/fanpet" target="_blank">
                        <div class="image-container">
                            <img i18n-alt src="./assets/images/fanpet-portfolio.png" alt="portfolio image">
                            <div class="overlay">
                                <h5 i18n>Wordpress template</h5>
                            </div>
                        </div>
                        <h6 i18n>Fanpet</h6>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)" title="project sample not available" i18n-title>
                        <div class="image-container">
                            <img i18n-alt src="./assets/images/kharchang-portfolio.gif" alt="portfolio image">
                            <div class="overlay">
                                <h5 i18n>Angular Project</h5>
                            </div>
                        </div>
                        <h6 i18n>Kharchang Accounting</h6>
                    </a>
                </li>
                <li>
                    <a href="https://shayan-ghzl.github.io/ng-wordpress-menu/" target="_blank">
                        <div class="image-container">
                            <img i18n-alt src="./assets/images/wpmenu-portfolio.png" alt="portfolio image">
                            <div class="overlay">
                                <h5 i18n>Angular Library Project</h5>
                            </div>
                        </div>
                        <h6 i18n>Angular Menu Package</h6>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)" title="project sample not available" i18n-title>
                        <div class="image-container">
                            <img i18n-alt src="./assets/images/letter-manager-portfolio.gif" alt="portfolio image">
                            <div class="overlay">
                                <h5 i18n>Angular Project</h5>
                            </div>
                        </div>
                        <h6 i18n>Letter Manager</h6>
                    </a>
                </li>
                <li>
                    <a href="https://www.npmjs.com/package/fast-date-typing" target="_blank">
                        <div class="image-container">
                            <img i18n-alt src="./assets/images/fast-date-portfolio-2.png" alt="portfolio image">
                            <div class="overlay">
                                <h5 i18n>Angular Library Project</h5>
                            </div>
                        </div>
                        <h6 i18n>Fast Date Typing Package</h6>
                    </a>
                </li>
                <li class="mobile-ratio" title="project sample not available" i18n-title>
                    <a href="javascript:void(0)">
                        <div class="image-container">
                            <img i18n-alt src="./assets/images/3soot-portfolio.gif" alt="portfolio image">
                            <div class="overlay">
                                <h5 i18n>Ionic Project</h5>
                            </div>
                        </div>
                        <h6 i18n>3 Soot Yadak</h6>
                    </a>
                </li>
                <li class="mobile-ratio" title="project sample not available" i18n-title>
                    <a href="https://shayan-ghzl.github.io/nano-technique-test" target="_blank">
                        <div class="image-container">
                            <img i18n-alt src="./assets/images/nano-tech.gif" alt="portfolio image">
                            <div class="overlay">
                                <h5 i18n>Ionic Project</h5>
                            </div>
                        </div>
                        <h6 i18n>Nano tech</h6>
                    </a>
                </li>
            </ul>
        </div>
</section>
<section i18n-dir id="about-contact" #contact dir="ltr">
    <div class="summery">
        <h5 class="title" i18n>SUMMERY</h5>
        <div>
            <p i18n>About four years of experience in creating beautiful and responsive user interfaces for mobile/tablet/desktop using HTML, CSS, SCSS, JavaScript, jQuery, Bootstrap and building single page applications (SPA) and multi-platform websites with Using Responsive/RWD design and Angular framework.</p>
            <p i18n>Experience working as a contributor in Primeng and other Angular repositories.</p>
            <p i18n>Experience in working with RESTFUL Web Services.</p>
            <p i18n>Deep understanding and skill in HTML, CSS, Bootstrap, JavaScript and TypeScript.</p>
            <p i18n>Excellent interpersonal abilities, communication skills, time management and Team skills.</p>
        </div>
    </div>
    <div class="contact">
        <h5 class="title" i18n>CONTACT</h5>
        <div>
            <ul>
                <li>
                    <a href="https://goo.gl/maps/9WdFEG3gKYnrcmFq7" target="_blank" i18n><i class="dashicons dashicons-location"></i>Isfahan, Iran</a>
                </li>
                <li>
                    <a href="tel:+989353728642"><i class="dashicons dashicons-phone"></i><span>+98 (935) 372 8642</span></a>
                </li>
                <li>
                    <a href="mailto:shayan97.tti@gmail.com"><i class="dashicons dashicons-email"></i>shayan97.tti@gmail.com</a>
                </li>
                <li>
                    <a href="https://github.com/shayan-ghzl" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="23.408" viewBox="0 0 24 23.408"><path d="M12,0A12,12,0,0,0,8.207,23.387c.6.111.793-.261.793-.577V20.576C5.662,21.3,4.967,19.16,4.967,19.16A3.178,3.178,0,0,0,3.634,17.4c-1.089-.745.083-.729.083-.729a2.519,2.519,0,0,1,1.839,1.237,2.554,2.554,0,0,0,3.492,1,2.546,2.546,0,0,1,.762-1.6C7.145,17,4.343,15.971,4.343,11.374A4.644,4.644,0,0,1,5.579,8.153,4.316,4.316,0,0,1,5.7,4.977S6.7,4.655,9,6.207a11.374,11.374,0,0,1,6.009,0c2.291-1.552,3.3-1.23,3.3-1.23a4.312,4.312,0,0,1,.118,3.176,4.632,4.632,0,0,1,1.235,3.221c0,4.609-2.807,5.624-5.479,5.921A2.868,2.868,0,0,1,15,19.517V22.81c0,.319.192.694.8.576A12,12,0,0,0,12,0Z"/></svg>https://github.com/shayan-ghzl</a>
                </li>
            </ul>
        </div>
    </div>
    <button type="button" class="btn btn-dark" (click)="navbar.scrollIntoView()">
        <i class="dashicons dashicons-arrow-up-alt2"></i>
    </button>
</section>
<app-footer></app-footer>