<app-navbar></app-navbar>
<section id="hero">
    <div class="message">
            <h1 i18n>پشتیبانی و شخصی سازی کسب و کار آنلاین </h1>
            <h4 i18n>با ده سال سابقه کار ، وب را زندگی کردم و نفس کشیدم</h4>
            <a i18n href="#samples" class="btn btn-primary">
                مشاهده نمونه کارها
            </a>
    </div>
</section>
<section id="samples">
        <div class="sample-grid-container">
            <ul class="sample-grid-wrapper">
                <li>
                    <div class="image-container">
                        <img i18n-alt src="./assets/images/portfolio-1.png" alt="تصویر نمونه کار">
                    </div>
                    <h6 i18n>فروشگاه پت شاپ</h6>
                </li>
                <li>
                    <div class="image-container">
                        <img i18n-alt src="./assets/images/portfolio-1.png" alt="تصویر نمونه کار">
                    </div>
                    <h6 i18n>فروشگاه پت شاپ</h6>
                </li>
                <li>
                    <div class="image-container">
                        <img i18n-alt src="./assets/images/portfolio-1.png" alt="تصویر نمونه کار">
                    </div>
                    <h6 i18n>فروشگاه پت شاپ</h6>
                </li>
                <li>
                    <div class="image-container">
                        <img i18n-alt src="./assets/images/portfolio-1.png" alt="تصویر نمونه کار">
                    </div>
                    <h6 i18n>فروشگاه پت شاپ</h6>
                </li>
            </ul>
        </div>
</section>
<section id="about-contact">
    <!-- تمام راه های تماس و پروفایل های من
    تصویر من و درباره من -->
</section>
<app-footer></app-footer>